


<!-- views/games.handlebars -->
<div class="text-center page">
  <div class="user">
    <img src="{{user.avatar}}"/>
  </div>
  
  <div class="container gameslist">
    <a href="/missingletter" class="btn btn-default btn-block" role="button"></span>MissingLet_er</a>
    <a href="/auth/facebook" class="btn btn-default btn-block disabled" role="button"></span>Comming soon</a>
  </div>
</div>