


  <!-- views/missinlet_er.handlebars -->
  <div class="gameContainer">
    <div class="playersContainer"></div>
    <div class="wordModal">
      <div class="word noselect"></div>
      <div class="time noselect"></div>
    </div>
    <!--<canvas class="gamecanvas"></canvas>--> 
  </div>
  <footer class="footer">
    <img src="{{user.avatar}}"/>
    <div class="letters noselect"></div>      
  </footer>

  <script>

    var game = new LGamesClient.Games.MissingLetter('{{user.avatar}}');
    game.init();
    
  </script>
