


<!-- views/signin.handlebars -->
<div class="container vertical-center vcard">
  <div class="container text-center">
    <div class="span2 avatar">
      <a href="AxelClaverCV2016{{{__ 'CVlang'}}}.pdf" class="link">
        <img src="images/avatar.png"/>
      </a>
    </div>

    <h3>{{{__ "Sorry"}}} :(</h3>
    <h4>{{{__ "We were unable to load the page you requested."}}}</h4>
    <h4>{{{__ "Please check your network connection and try again."}}}</h4>

  </div>
</div>
