


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Axel claver</title>

    <style>
      @media (min-width: 768px) {
        .container {
            width: auto !important;
        }
      }

      html, body {
        height: 100%;
        min-width: 300px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        padding: 0;
        margin: 0;
        color: #333;
      }

      .noselect {
        -webkit-touch-callout: none; 
        -webkit-user-select: none;  
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      div#all {
          max-width: 100%;
      }

      div#all {
          /* max-width: 700px; */
          padding: 0;
          background-color: #f1efed;
          /* height: 100%; */
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          /* bottom: 0; */
          min-height: 100%;
      }

      .container.vertical-center.vcard {
          background-color: #f1efed;
          min-height: 100%;
          min-height: 100vh;
          display: flex;
          align-items: center;
          text-align: center;
          max-width: 300px;
          /* overflow-y: scroll; */
          padding-bottom: 50px;
          padding-top: 65px;
      }

      nav.navbar.navbar-default.navbar-fixed-top {
          min-width: 300px;
          position: fixed;
          background-color: #f8f8f8;
          top: 0;
          border: 1px solid #e7e7e7;
          right: 0;
          left: 0;
          z-index: 10;
      }

      p.navbar-brand {
          color: #777;
          float: left;
          font-size: 18px;
          line-height: 20px;
          height: 50px;
          padding: 15px;
      }

      a {
          color: #428bca;
          text-decoration: none;
          background: 0 0;
      }

      p {
          margin: 0 0 10px;
      }

      .navbar-header {
      }

      * {
          box-sizing: border-box;
      }

      .container {
          margin-right: auto;
          margin-left: auto;
          padding-left: 15px;
          padding-right: 15px;
      }

      h3 {
          font-weight: 500;
          line-height: 1.1;
          color: inherit;
          margin-top: 20px;
          margin-bottom: 10px;
          font-size: 24px;
      }

      h4 {
          font-size: 18px;
          margin-top: 10px;
          margin-bottom: 10px;
          font-weight: 500;
          line-height: 1.1;
          color: inherit;
      }
    </style>
  </head>

  <body>
    <div id="all" class="container">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="navbar-header">
            <p class="navbar-brand noselect">Axel Claver | <a href="#">Javascript Developer</a></p>
          </div>
      </nav>

      <div class="container vertical-center vcard">
        <div class="container text-center">
          <h3>{{{__ "Sorry"}}} :(</h3>
          <h4>{{{__ "We were unable to load the page you requested."}}}</h4>
          <h4>{{{__ "Please check your network connection and try again."}}}</h4>

        </div>
      </div>
    </div>
  </body>
</html>


