


/*
@media (orientation: portrait) {
  #all { display: block; }
  #overlay { display: none; }
}
@media (orientation: landscape) {
  #all { display: none; }
  #overlay { display: block; }
}
*/

html, body {
	height: 100%;
}


.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.alert {
	position: fixed;
	top: 55px;
}

h1>img {
    max-height: 100px;
}

.navbar-right {
    float: right;
    padding-right: 15px;
}

.page {
    padding-top: 70px;
}

.user {
    height: 150px;
    padding: 15px;
}

img {
    max-height: 100%;
    height: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #f5f5f5;
  left: 0;
}

.back-nav {
    position: absolute;
    right: 15px;
    top: 20px;
}


canvas.gamecanvas {
	background-color: #eee;
	width: 100%;
	height: 100%;
}

.gameContainer {
    position: absolute;
    top: 60px;
    left: 0;
    bottom: 80px;
    right: 0;
}

.playersContainer {
    width: 100%;
    height: 100%;
}

.playersContainer>.player {
    width: 100px;
    height: 100px;
    display: inline-block;
}

*[sol='ok'] {
    padding: 1%;
    background-color: greenyellow;
}

*[sol='ko'] {
    padding: 1%;
    background-color: red;
}

footer>img {
    float: left;
}

.time {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    font-size: 3em;
    width: 30%;
    height: 50%;
    /* background-color: antiquewhite; */
    text-align: center;
}

.noselect {
  -webkit-touch-callout: none; 
  -webkit-user-select: none;  
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


video.camera {
    width: 100%;
    /* display: none; */
    background-color: black;
}

canvas#canvas {
    /* width: 300px; */
    /* height: 300px; */
    position: fixed;
    /* top: 60px; */
    visibility: hidden;
}

div#marco {
    position: fixed;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    border: 2px solid red;
    display: none;
}

div#videoCam {
    /* position: absolute; */
    padding: 5px;
    /* width: 100%; */
    /* max-width: 200px; */
    margin-top: -5px;
}

div#overlay {
    width: 100%;
    height: 100%;
    background-color: #bdbdbd;
    position: absolute;
    z-index: 10000000;
    top: 0;
    left: 0;
    background-image: url('portrait-orientation.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    display: none;
}

.wordModal {
    width: 80%;
    height: 40%;
    min-height: 200px;
    background-color: rgba(245, 245, 220, 0.69);
    position: absolute;
    left: 10%;
    bottom: 25%;
    border-radius: 10px;
}

.wordModal>.word {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 80px;
    height: 50%;
}

.wordModal>.word>.sol{
  color: green;
}

.letters {
    position: absolute;
    left: 80px;
    right: 0;
    height: 100%;
}

.letters>.letter {
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 45px;
    padding-top: 10px;
    cursor: pointer;
}

.operationModal {
    width: 80%;
    height: 40%;
    min-height: 200px;
    background-color: rgba(245, 245, 220, 0.69);
    position: absolute;
    left: 10%;
    bottom: 25%;
    border-radius: 10px;
}

.operationModal>.operation {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 80px;
    height: 50%;
}

.operationModal>.operation>.sol{
  color: green;
}

.numbers {
    position: absolute;
    left: 80px;
    right: 0;
    height: 100%;
}

.numbers>.number {
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 45px;
    padding-top: 10px;
    cursor: pointer;
}

.letters>.letter:nth-child(2n):not([sol]) {
  background-color: #d0d0d0;
}

.numbers>.number:nth-child(2n):not([sol]) {
  background-color: #d0d0d0;
}


div.storyContainer>div#begin {
    margin: 10px;
    padding: 10px;
    background-color: aliceblue;
    /* font-size: large; */
}

.storyContainer {
    font-size: large;
}

div#begin>i {
    font-size: small;
}

div#myturnModal {
    width: 80%;
    height: 30%;
    min-height: 200px;
    background-color: rgba(245, 245, 220, 0.69);
    position: fixed;
    left: 10%;
    bottom: 20%;
    border-radius: 10px;
    padding: 5%;
    text-align: center;
    display: none;
}

div#myturnModal>a {
    position: absolute;
    bottom: 10%;
    width: 40%;
}

div#myturnModal>a#writeBut {
    right: 5%;
}

.playerPar {
  width: 100%;
  min-height: 80px;
  background-color: #f5f5f5;
  left: 0;
  margin-bottom: 10px;
  position: relative;
}



img.playerAvatar {
    max-height: 60px;
    float: left;
}

div.playerPar>.par {
    margin: 5px 5px 5px 70px;
    /* position: absolute; */
    /* float: right; */
    /* width: 100%; */
    box-sizing: border-box;
    top: 0;
}

div#usersPars {
    padding-bottom: 80px;
}

div#myturnCountdown {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    font-size: 2em;
    width: 20%;
    height: 20%;
    text-align: center;
}

footer.footer>div.footerText {
    position: absolute;
    left: 80px;
    right: 0;
    height: 100%;
    padding: 20px 10px;
    font-size: medium;
    /* text-align: center; */
}

footer.footer>div.buts {
    position: absolute;
    left: 80px;
    right: 0;
    height: 100%;
    padding: 5px;
    font-size: medium;
    display: none;
}

div#myturnModal>a#endBut {
    bottom: 40%;
    left: 50%;
    margin-left: -20%;
}