


/*
@media (orientation: portrait) {
  #all { display: block; }
  #overlay { display: none; }
}
@media (orientation: landscape) {
  #all { display: none; }
  #overlay { display: block; }
}
*/

@media (min-width: 768px) {
  .container {
      width: auto !important;
  }
}

html, body {
	height: 100%;
	min-width: 300px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 0;
	margin: 0;
	color: #333;
}


.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.alert {
	position: fixed;
	top: 55px;
}

h1>img {
    max-height: 100px;
}

.navbar-right {
    float: right;
    padding-right: 15px;
}

.page {
    padding-top: 70px;
}

.user {
    height: 150px;
    padding: 15px;
    text-align: center;
}

img {
    max-height: 100%;
    height: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #f5f5f5;
  left: 0;
  min-width: 300px;
  border-color: #e7e7e7;
  border-width: 1px 0 0;
  border-style: solid;
}

.back-nav {
    position: absolute;
    right: 15px;
    top: 20px;
}


canvas.gamecanvas {
	background-color: #eee;
	width: 100%;
	height: 100%;
}

.gameContainer {
    position: fixed;
    padding-top: 60px;
    min-width: 300px;
    background-color: white;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.playersContainer {
    width: 100%;
    height: 100%;
}

.playersContainer>.player {
    width: 100px;
    height: 100px;
    display: inline-block;
}

*[sol='ok'] {
    padding: 1%;
    background-color: greenyellow;
}

*[sol='ko'] {
    padding: 1%;
    background-color: red;
}

footer>img {
    float: left;
}

.time {
    position: absolute;
    right: 5%;
    top: 0;
    /* padding: 10px; */
    font-size: 3em;
    width: 20%;
    /* height: 30%; */
    /* background-color: antiquewhite; */
    text-align: right;
}

.noselect {
  -webkit-touch-callout: none; 
  -webkit-user-select: none;  
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


video.camera {
    width: 100%;
    height: 100%;
    /* display: none; */
    /* background-color: black; */
}

canvas#canvas {
    /* width: 300px; */
    /* height: 300px; */
    position: fixed;
    /* top: 60px; */
    visibility: hidden;
}

div#marco {
    position: fixed;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    border: 2px solid red;
    display: none;
}

div#videoCam {
    position: fixed;
    top: 61px;
    left: 0;
    background-color: rgba(191, 191, 191, 0.63);
    padding: 10px;
    bottom: 30px;
    right: 0;
    display: none;
}

div#videoCam.showing {
    display: block;
}

div#overlay {
    width: 100%;
    height: 100%;
    background-color: #bdbdbd;
    position: absolute;
    z-index: 10000000;
    top: 0;
    left: 0;
    background-image: url('portrait-orientation.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    display: none;
}

.wordModal {
    width: 80%;
    height: 30%;
    min-height: 200px;
    background-color: rgba(245, 245, 220, 0.69);
    position: absolute;
    left: 10%;
    bottom: 25%;
    border-radius: 10px;
    text-align: center;
}

.wordModal>.word {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 80%;
    font-size: 80px;
    /* height: 0; */
    left: 10%;
    vertical-align: bottom;
}

.wordModal>.word .sol{
  color: green;
}

.letters {
    position: absolute;
    left: 80px;
    right: 0;
    height: 100%;
}

.letters>.letter {
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 45px;
    padding-top: 10px;
    cursor: pointer;
}

.operationModal {
    width: 80%;
    height: 40%;
    min-height: 200px;
    background-color: rgba(245, 245, 220, 0.69);
    position: absolute;
    left: 10%;
    bottom: 25%;
    border-radius: 10px;
}

.operationModal>.operation {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 90%;
    font-size: 80px;
    /* height: 50%; */
    left: 5%;
}

.operationModal>.operation .sol{
  color: green;
}

.numbers {
    position: absolute;
    left: 80px;
    right: 0;
    height: 100%;
}

.numbers>.number {
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 45px;
    padding-top: 10px;
    cursor: pointer;
}

.letters>.letter:nth-child(2n):not([sol]) {
  background-color: #d0d0d0;
}

.numbers>.number:nth-child(2n):not([sol]) {
  background-color: #d0d0d0;
}


div.storyContainer>div#begin {
    margin: 10px;
    padding: 10px;
    background-color: aliceblue;
    /* font-size: large; */
}

.storyContainer {
    font-size: large;
    position: relative;
}

div#begin>i {
    font-size: small;
}

div#myturnModal {
    width: 80%;
    height: 30%;
    min-height: 200px;
    background-color: rgba(245, 245, 220, 0.69);
    position: fixed;
    left: 10%;
    bottom: 20%;
    border-radius: 10px;
    padding: 5%;
    text-align: center;
    display: none;
}

div#myturnModal>a {
    position: absolute;
    bottom: 10%;
    width: 44%;
    padding-left: 35px;
    color: white;
}

div#myturnModal>a#writeBut {
    right: 5%;
    background-image: url(write.png);
    background-color: green;
}

.playerPar {
  width: 100%;
  min-height: 50px;
  background-color: #fbfafa;
  left: 0;
  margin-bottom: 10px;
  position: relative;
}



img.playerAvatar {
    max-height: 50px;
    max-width: 50px;
    /* float: left; */
    /* margin: 5px; */
    /* border-radius: 50%; */
    position: absolute;
    left: 0;
    top: 0;
}

div.playerPar>.par {
    padding: 5px 5px 5px 65px;
    /* position: absolute; */
    /* float: right; */
    /* width: 100%; */
    box-sizing: border-box;
    top: 0;
}

div#usersPars {
    padding-bottom: 80px;
}

div#myturnCountdown {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    font-size: 2em;
    width: 20%;
    height: 20%;
    text-align: center;
}

footer.footer>div.footerText {
    position: absolute;
    left: 80px;
    right: 0;
    height: 100%;
    padding: 20px 10px;
    font-size: medium;
    /* text-align: center; */
}

footer.footer>div.buts {
    position: absolute;
    left: 80px;
    right: 0;
    height: 100%;
    padding: 5px;
    font-size: medium;
    display: none;
}

div#myturnModal>a#endBut {
    bottom: 35%;
    left: 50%;
    margin-left: -25%;
    background-color: #f18903;
    background-image: url(favorite-5-32.png);
    color: #fff;
}

div#all {
    max-width: 100%;
}

div#all {
    /* max-width: 700px; */
    padding: 0;
    background-color: #f1efed;
    /* height: 100%; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* bottom: 0; */
    min-height: 100%;
}

div.avatar>a>img {
    width: 100%;
    max-width: 100px;
    border-radius: 50%;
    border-color: #171516;
    border: 0;
}

.user>img {
    border-radius: 50%;
}

.container.vertical-center.vcard {
    background-color: #f1efed;
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 300px;
    overflow-y: scroll;
    padding-bottom: 100px;
}

.links>a.link {
    margin: 10px;
}

.links {
    margin: 10px 0 40px 0;
    height: 40px;
}

nav.navbar.navbar-default.navbar-fixed-top {
    min-width: 300px;
    position: fixed;
    background-color: #f8f8f8;
    top: 0;
    border: 1px solid #e7e7e7;
    right: 0;
    left: 0;
    z-index: 10;
}

footer.footer.langsselector {
    height: 40px;
}

.langs {
    display: inline-block;
    padding: 10px;
}

.langs.selected {
    background-color: #bfbfbf;
}

.bigtext>p {
  margin: 0;
  height: auto;
}


p.navbar-brand {
    color: #777;
    float: left;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
    padding: 15px;
}

a {
    color: #428bca;
    text-decoration: none;
    background: 0 0;
}

p {
    margin: 0 0 10px;
}

.navbar-header {
}

* {
    box-sizing: border-box;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

h3 {
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
}

h4 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.btn {
    display: block;
    width: 100%;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 5px;
    background-position: 5px;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    background-size: auto 80%;
}

.btn-google {
    color: #f1f7f7;
    background-color: #ec3535;
    background-image: url("Google_G_Logo.png");
}

.btn-facebook {
    background-color: #3b5998;
    color: #f7f7f7;
    background-image: url("facebook-32.png");
}

div#cameraBut {
    background-color: #fff;
    color: #777;
    background-image: url(screenshot-32.png);
}

.gameslist {
    max-width: 300px;
    padding-bottom: 50px;
}

.btn-default {
    background-color: #fff;
    color: #929292;
}

.btn-default.disabled {
    background-color: #f7f7f7;
    color: #dee0e2;
}

a#dismissBut {
    background-color: #a90f0f;
    color: #fff;
    left: 5%;
    background-image: url(close.png);
}

h1 {
    font-size: 36px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

a#newStoryBut {
    background-color: green;
    background-image: url(newStory.png);
}

a#downloadBut {
    background-color: orange;
    background-image: url(download.png);
}